/* body */
html, body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	font-family: helvetica, arial, sans-serif;
	color: #000;
	font-size: 12px;
}
	

/* outer box */
#wrapper {
	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0px;
 	left: 0px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #f00;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

h2 {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}


.inputfield {
    margin-right: 10px;
    width: 7em;
}

.inputlabel {
    position: relative;
    top: -2px;
    font-weight: bold;
}

.recfield {
    margin-left: 10px;
    border: 1px solid grey;
    padding: 2px;
    font-size: 14px;
    min-width: 6em;
}


#idx {
    width: 1em;
}

.array_elem {
    background: #eee;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    float: left;
}

.leftmargin {
    margin-left: 50px;
}

.clear {
    float:none;
    clear: left;
}


